 @charset "UTF-8";

 body {
    background-color: rgb(255, 241, 217);
}

.top h1 {
    padding-top: 15px;
    font-size: 475%;
    text-align: center;
    color: white;
}

.top h2 {
    padding-top: 45px;
    padding-left: 2%;
    font-size: 350%;
    text-align: center;
    color: #ccc;
}

h1 {
    margin: 50px 0;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    color: #2AA9A9;
}

h2 {
    margin: 45px 0;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    color: #a8a8a8;
}

/* コマンドボックス */
.code-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

pre {
    width: 60%;
    position: relative;
    overflow-x: auto;
    padding: 1em;
    border-radius: 8px;
    background-color: #2d2d2d;
    color: #fff;
    box-sizing: border-box;
}

.copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  transition: opacity 0.3s;
  z-index: 10;
}

.copy-button:hover {
  opacity: 1;
}
/* コマンドボックス /////// */

/* 内容コンテナ */
.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

/* 整列コンテナ */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 15%;
    height: 350px;
    margin: 1% 0;
    border-right: solid 2px #000;
}

.box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: orange;
    font-size: 32px;
}

h2.mean {
    color: #8265B1;
}

.box h3 {
    padding: 0 10px;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

.box p {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px dashed #2d2d2d;
    color: #000;
    font-size: 17px;
    text-align: center;
}


































@media (max-width: 600px) {
    .top h1 {
        font-size: 200%;
    }

    .top h2 {
        padding-top: 23px;
        font-size: 100%;
    }

    h1 {
        margin: 25px 0;
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .container {
        flex-grow: 0;
        width: 95%;
        gap: 0%;
    }

    .box {
        width: 80%;
        min-width: 0px;
        height: 200px;
        margin: 1% 0;
        border-right: none;
        border-top: solid 4px #ccc;

    }

    .box h2 {
        font-size: 24px;
        font-weight: normal;
    }

    .box h3 {
        font-size: 15px;
    }

    .box p {
        font-size: 12px
    }

    pre {
        width: 95%;
    }
}