@charset "UTF-8";

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.all {
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.orenge-txt{
    font-size: 37px!important;
    color: #ffb888;
}

.discord {
    font-size: 37px!important;
    color: #8f99ff!important;
}

.main_box {
    width: 65%;
    height: auto;
    margin-bottom: 210px;
}

.main p {
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}





@media (max-width: 600px) {
    .all {
        margin-bottom: 30%;
        width: 90%;
    }

    .main p {
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 15px;
    }

    .orenge-txt {
        font-size: 25px!important;
    }

    .discord {
        font-size: 22px!important;
    }
}