 @charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'HonokaMincho';
  src: url('../font/Honoka_Shin_Mincho_L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.japanese {
  font-family: 'HonokaMincho', serif;
}

.english {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

/* ガラス風 */

.glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 45px;
}

/* 上部固定 */

.top {
  display: flex;
  width: 100%;
  left: 0;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 45px 0 45px 0;
  padding: 25px 0;
  text-align: center;
  border-radius: 45px;
}

.title a {
  font-size: 40px;
  color: #ffb888;
  text-decoration: none;
}

/* 選択BOX */

.section-box {
  margin: 30px auto;
  width: 65%;
  height: auto;
  border-radius: 45px;
  text-align: center;
}

.section-box a {
  display: block;
  padding: 15px;
  font-size: 30px;
  color: #999999;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.section-box a:hover {
  transform: scale(1.1);
}

.section-box .orenge-txt{
  display: block;
  padding-top: 30px;
  color: #ffb888;
  font-size: 40px;
}

section {
  scroll-margin-top: 70px;
}

/* w_hac&index共通 */

.info {
  display: block;
  height: auto;
  margin: 75px auto;
  padding-bottom: 1px;
  text-align: center;
  transition: transform 0.3s ease;
}

.info:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}


.info p{
  font-size: 25px;
  padding: 20px 0;
  pointer-events: none;
  color: #888;
  padding: 25px;
}

.info p.ore_text {
  color: orange;
  font-size: 40px;
}

.info p.red_text {
  color: red;
  font-size: 40px;
}

.info .plus {
  font-size: 21px;
  display: block;
  text-align: center;
  border-top: 1px dashed #2d2d2d;
  width: 80%;
  margin: 10px auto;
  padding-top: 20px;  
}

/* w_hac&index共通//////// */

.ore_line{
  text-decoration: underline solid 2.5px orange;
}

.red_line{
  text-decoration: underline solid 1px red;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-top: 35px;
  padding-bottom: 210px;
  text-align: center;
  border-top:  solid 2px #ccc;
  font-size: 25px;
}

.gray{
  margin-top: 20px;
}

.gray p{
  font-size: 15px;
  color: gray;
}

header {
  position: fixed;
  width: 100%;
  height: 12%;
  bottom: 0;
  left: 0;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
 display: inline-block;
  text-align: center;
}


.logo img {
  width: 13%;
  display: block;
  margin: 0 auto;
}


/* タブレットモード（仮） */
@media (max-width: 1300px) and (min-width: 601px) {
    html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

  .logo img {
    width: 10%;
    margin: 0;
  }
}





/* スマホモード */
@media (max-width: 600px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .top {
    display: flex;
    width: 100%;
    left: 0;
    height: 15%;
  }

  .code-box pre code {
    font-size: 12px;
  } 

  .title {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .title a {
      font-size: 25px;
  }
  
  .section-box  {
      width: 90%;
  }

  .section-box a {
      font-size: 18px;
  }

  /* w_hac&index共通 */

  .info p{
      font-size: 16px;
  }

  .info p.ore_text {
      font-size: 25px;
  }

  .info p.red_text {
      font-size: 25px;
  }

  .info .plus {
      font-size: 13px;
  }

  /* w_hac&index共通//////// */

  footer {
    font-size: 14px;
  }

  .logo img {
    width: 16%;
  }

  .gray p{
    font-size: 8px;
  }

}